.cart-container {
    overflow-x: auto;
}

    .cart-container table {
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;
        white-space: nowrap;
    }

        .cart-container table thead {
            font-weight: 700;
        }

            .cart-container table thead td {
                background-color: black;
                color: white;
                /* border: none; */
                padding: 6px 0px;
            }

        .cart-container table td {
            border: 1px solid black;
            text-align: center;
        }

            .cart-container table td:nth-child(1),
            .cart-container table td:nth-child(2) {
                width: 200px;
            }

            .cart-container table td:nth-child(3),
            .cart-container table td:nth-child(4),
            .cart-container table td:nth-child(5) {
                width: 170px;
            }

            .cart-container table td:nth-child(6) {
                width: 100px;
            }

        .cart-container table tbody img {
            width: 100%;
            height: 80px;
            object-fit: contain;
        }

        .cart-container table tbody i {
            color: #8d8c89;
        }

.cart-bottom .coupon > div,
.cart-bottom .total > div {
    border: 1px solid black;
}

.cart-bottom .coupon h5 {
    background-color: black;
    color: white;
    /* border: none; */
    padding: 6px 6px;
    font-weight: 700;
}

.cart-bottom .coupon p {
    padding: 0 12px;
}

.cart-bottom .coupon input {
    height: 44px;
    padding: 0 12px;
    margin: 0 0 20px 12px;
}

.cart-bottom .coupon button {
    margin: 0 0 20px 12px;
}

.cart-bottom .total h5 {
    background-color: black;
    color: white;
    /* border: none; */
    padding: 6px 6px;
    font-weight: 700;
}

.cart-bottom .total div > div {
    padding: 0 12px;
}

.cart-bottom .total hr {
    background: #b8b7b3;
    width: 98%;
    border: 1px solid black;
}

.cart-bottom .total a {
    margin: 0 12px 20px 0;
    display: flex;
    justify-content: flex-end;
}


