
.big-img {
    border: 1px solid rgb(0, 0, 0, 0.3);
}

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    border: 1px solid rgb(0, 0, 0, 0.1);
    flex-basis: 24%;
    cursor: pointer;
}

.product-details select {
    display: block;
    padding: 5px 10px;
}

.product-details .input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

    .product-details .input:focus {
        outline: none;
    }

.price {
    color: var(--black);
    font-size: 28px;
    font-weight: bolder;
}

    .price span {
        color: var(--orange);
        font-size: 12px;
        text-decoration: line-through;
    }

.product-details .btn {
    display: inline-block;
    margin-top: 4px;
    border-radius: 6px;
    border: 1px solid black;
    font-weight: bolder;
    font-size: 16px;
    color: var(--black);
    cursor: pointer;
    background: #fff;
    padding: 8px 16px;
}

    .product-details .btn:hover {
        background: var(--orange);
        color: #fff;
    }
    .product-details .red{
        color:red;
    }